# dependencies
node_modules/

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
Thumbs.db

# archives (don’t push zips)
*.zip

# build output (if any)
dist/
build/
 node_modules/
dist/
.angular/
.env
.env.local
logs/
*.log

