<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="/assets/images/logo.png"></a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-link active" routerLink="">Trips</a>
    </div>
  </div>
  <div class="navbar-end">
    <a class="nav-item" routerLink="login" *ngIf="!isLoggedIn()">
      <span>Log In</span>
    </a>
    <a class="nav-item active" (click)="onLogout()" *ngIf="isLoggedIn()">
      <span>Log Out</span>
    </a>
  </div>
</nav>
